body {
	color: #181818;
}

h1 {
	color: #000;
	padding-top: 7rem;
	padding-bottom: 1rem;
}

section {
	&.grid-demo>div {
		text-align: center;
		padding: 1rem 0;
		color: #afafaf;
		border: #f5f5f5 1px solid;
	&:hover {
			color: #000;
			border: #09c 1px solid;
			transition-duration: 0.2s;
		}
	}
}

.components {
	background: #1683CC;
	background-size: cover;
	background-attachment: fixed;
	color: #fff;
	width: 100%;
	text-align: center;
	& input, & .fa {
		background: transparent;
		box-shadow: none !important;
		border: 0 !important;
		font-size: 3rem;
		padding: 2rem 0;
		color: #fff;
		border-radius: 0;
	}
}

.components input::-webkit-input-placeholder, .components .fa::-webkit-input-placeholder {
	color: #fff;
}

.buttons-demo > button {
	margin-left: 1rem;
}

@media (max-width: 768px) {
	section {
		padding: 0 1rem;
	}
	table th, table td {
		padding: 0;
	}
	input[type='text'], input[type='password'], input[type='email'], input[type='url'], input[type='date'], input[type='month'], input[type='time'], input[type='datetime'], input[type='datetime-local'], input[type='week'], input[type='number'], input[type='search'], input[type='tel'], input[type='color'], select, textarea {
		margin: 0;
	}
	.components {
		font-size: 5px;
	}
	.grid-demo {
		padding: 1rem 0;
	}
}

code[data-gist-id] {
	text-align: left;
	border: 0;
}

footer {
	li {
		padding: 1rem;
	}
}