<title>{{ site.title }}</title>
<link rel="icon" href="/img/favicon.png">
<!-- <link rel="stylesheet" href="https://cdn.rawgit.com/Magmoz/galaxy/master/galaxy.min.css"> -->
<link rel="stylesheet" href="/galaxy/galaxy.css">
<link rel="stylesheet" href="/css/home.css">
<link rel="stylesheet" href="/css/docs.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/pace/0.6.0/themes/white/pace-theme-minimal.css">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css">

<script src="{{ site.url }}/js/jquery.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.pjax/1.9.2/jquery.pjax.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/pace/0.6.0/pace.min.js"></script>
<script src="{{ site.url }}/js/galaxy.js"></script>
<script src="{{ site.url }}/js/docs.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/gist-embed/1.9/gist-embed.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/zeroclipboard/2.1.6/ZeroClipboard.min.js"></script>

<script>
$(document).ready(function() {
    $('form').on('submit', function() {
        return false;
    });
})
</script>

<meta name="description" content="{{ site.description }}">