/* --- BASE */

*:focus, *:active {
	outline: none;
}

body {
	font-family: "Proxima Nova", "Myriad Pro", "Helvetica Neue", Helvetica sans-serif;
	font-size: 17px; /* Changing this will enlarge the entire framework */
	outline: 0;
	margin: 0;
	max-width: 100vw;
	height: auto;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: center;
	-webkit-font-smoothing: antialiased;
}

a {
	color: $primary-color;
	opacity: $md-opacity;
	text-decoration: none;
}

a:hover {
	opacity: 1;
}

p {
	font-size: 1.2em;
}

i:after {
	content: "\00a0"
}

$headings: h1 h2 h3 h4 h5 h6;
@each $heading in $headings {
	$i: index($headings, $heading);
	$i-weight: $i * 100;
	#{$heading} {
		font-size: 2.7em - $i / 3;
		@if ($i-weight < 200) {
			font-weight: 500 - $i-weight;
		} @else {
			font-weight: 300;
		}
	}
}

hr {
	display: block;
	width: 10vw;
	margin: 1rem auto 1rem auto;
	border: #eee 1px solid;
}

img {
	display: block;
	max-width: 100%;
	height: auto;
}

@media (max-width: 768px) {
	img {
		height: auto;
	}
}

disabled {
	border: 1px solid #ccc;
	background-color: #fff;
}

button,
fieldset {
	border: #eee 1px solid;
}

li {
	list-style: none;
	display: inline;
}

code {
	border: #eee 1px solid;
	border-radius: 3px;
	padding: 5px;
}

article, aside, details, figcaption, figure, footer, header, hgroup, main, nav, section, summary {
	display: block;
}