/* --- BUTTONS */

*:hover {
opacity: 1;
}

button, input {
	@include button-colors($default-color);
	padding: .8rem 2rem;
	font-weight: 400;
	font-size: 1rem;
	cursor: pointer;
	@include small-border;
	white-space: nowrap;
	&:hover {
		filter: none;
		box-shadow: none;
		background: darken($default-color, 5);
	}
	&:active {
		background: darken($default-color, 20);
	}

	&[g~="primary"] {
		&:hover {
			background: lighten($primary-color, 10);
		}
		&:active {
			background: darken($primary-color, 15);
		}
	}

	&[g~="success"] {
		
		&:hover {
			background: lighten($success-color, 10);
		}
		&:active {
			background: darken($success-color, 15);
		}
	}

	&[g~="warning"] {
		
		&:hover {
			background: lighten($warning-color, 10);
		}
		&:active {
			background: darken($warning-color, 15);
		}
	}

	&[g~="danger"] {
		&:hover {
			background: lighten($danger-color, 10);
		}
		&:active {
			background: darken($danger-color, 15);
		}
	}


	&[disabled] {
		border: 0;
		background-image: none;
		opacity: .4;
		cursor: not-allowed;
		box-shadow: none;
	}
	&[g~="grouped"] {
		position: relative;
		vertical-align: middle;
	}
	&[g~="large"] {
		padding: 1.5rem 2.5rem;
		font-size: 1.3rem;
	}
	&[g~="rounded"] {
		border-radius: 50%;
	}
	& + ul[g~="dropdown"] {
		display: block;
		border: #eee 1px solid;
		border-radius: 3px;
		padding: 1rem 0;
		width: 15rem;

		& li {
			display: block;
			padding: .5rem 0;

			&:hover {
				background: #eee;
			}
		}
	}

	/* BEM */
	& [g~="small"] {
		display: inline-block;
	}
}

[g~="grouped"] {
	width: 100vw;
	& > button:not(:first-child):not(:last-child) {
		border-radius: 0;
		margin-right: -3px;
	}
	& > button:first-child:not(:last-child) {
		border-radius: 4px 0 0 4px;
		margin-right: -4px;
	}
	& > button:last-child:not(:first-child) {
		border-radius: 4px 4px 4px 0;
	}
}
