body {
	display: flex;
	min-height: 100vh;
	flex-direction: column;
}

section {
	@include border-box;
	@include display-flex;
	@include direction-row;
	@include flex-wrap;
	@include flex-basis(100%);
	max-width: 100%;
	padding-top: 1.5rem;
	padding-bottom: 1.5rem;
	justify-content: space-between;
}

section[g~='reverse'] {
	@include reverse-direction-row;
}

[content] {
	flex: 1;
}

[g~="1"],
[g~="2"],
[g~="3"],
[g~="4"],
[g~="5"],
[g~="6"],
[g~="7"],
[g~="8"],
[g~="9"],
[g~="10"],
[g~="11"],
[g~="12"] {

	@include border-box;
	display: -webkit-box;
	@include display-flex;
	@include column-flex-direction;
	-webkit-flex-grow: 0;
	flex-grow: 0;
	-webkit-flex-shrink: 0;
	flex-shrink: 0;
}

@include grid_columns;
@include grid_push_left;
@include grid_push_right;

[g~="start"] {
	@include start;
}

[g~="center"], [g~="centered"] {
	@include centered;
}

[g~="left"] {
	display: -webkit-flex;
   display: flex;
   -webkit-flex-direction: row;
   flex-direction: row;
   -webkit-justify-content: flex-start;
   justify-content: flex-start;
}

[g~="right"] {
	   display: -webkit-flex;
   display: flex;
   -webkit-flex-direction: row;
   flex-direction: row;
   -webkit-justify-content: flex-end;
   justify-content: flex-end;
}


[g~="end"] {
	@include end;
}

[g~="top"] {
	@include top;
}

[g~="middle"] {
	@include middle;
}

[g~="bottom"] {
	@include bottom;
}

[g~="around"] {
	@include around;
}

[g~="between"], [g~="even"] {
	@include between;
}

[g~="first"] {
	@include first;
}

[g~="last"] {
	@include last;
}

[g~="xlg-container"] {
	max-width: $xlg-breakpoint;
}

[g~='lg-container'] {
	max-width: $lg-breakpoint;
}

[g~='md-container'] {
	max-width: $md-breakpoint;
}

[g~='sm-container'] {
	max-width: $sm-breakpoint;
}

[g~='xsm-container'] {
	max-width: $xsm-breakpoint;
}

@media screen and (max-width: $md-breakpoint) {
	header > ul {
		display: none;
	}
	[g~="centered"], [g~="center"] {
		margin: 0;
	}
	[g~="xlg-container"] {
	max-width: $md-breakpoint;
	}

	[g~='lg-container'] {
		max-width: $md-breakpoint;
	}
}

@media screen and (max-width: $sm-breakpoint) {
	[g~="1"] {
		flex-basis: 50%;
		max-width: 50%;
	}
	@for $i from 2 through 12 {
		[g~="#{$i}"] {
			flex-basis: 100%;
			max-width: 100%;
		}
	}

	[g~="lg-container"] {
		max-width: $md-breakpoint;
	}
	[g~="xlg-container"] {
		max-width: $md-breakpoint;
	}
	[g~="md-container"] {
		max-width: $md-breakpoint;
	}

}

