<!-- BUTTONS -->
<div id="buttons" g="between xlg-container" class="buttons after-grid">
<h1>Buttons</h1>
	<section class="buttons-demo">
		<button>Default Button</button>
		<button g="primary">Primary Button</button>
		<button g="success">Success Button</button>
		<button g="warning">Warning Button</button>
		<button g="danger">Danger Button</button>
		<button disabled>Disabled Button</button>
	</section>
	<section g="centered">
	<h2 g="12">Sizes</h2>
		<button>Default button</button>
		<button g="small">Small button</button>
		<button g="large">Large button</button>
	</section>
</div>